<div class="comments-area">
    <div class="comments-inner">
        <h2 class="comments-title">Comments</h2>
        <div class="disqus"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a>.</noscript>
    </div><!-- .comments-inner -->
</div><!-- .comments-area -->

<script>
	window.addEventListener('scroll', fetchDisqus);

	function fetchDisqus() {

	      var script = document.createElement('script');
	      script.setAttribute("defer", "");
	      script.setAttribute("async", "");
	      script.src = '/js/disqus-loader.js?{{site.time | date: '%s%N'}}';
	      document.body.appendChild(script);

	      window.removeEventListener("scroll", fetchDisqus);
	}
</script>