<div class="timeline-title">
    {% assign translations-ingredients = site.data.translations.ingredients %}
    <h2 class="section-heading">{{ translations-ingredients.natural-ingredients[page.lang] | upcase }}</h2>
    <h3 class="section-subheading text-muted">{{ translations-ingredients.ingredients-introduction[page.lang] }}</h3>
</div>

<ul class="timeline">
    {% for ingredient in page.ingredients %}
        {% if site.data.ingredients contains ingredient %}

            {% assign ingredientData = site.data.ingredients[ingredient] %}

            <li class="{% cycle '', 'timeline-inverted' %}">
                <div class="timeline-image">
                    <img class="img-circle img-responsive" alt="{{ ingredientData[page.lang].title }}" src="{{ ingredientData.img }}" alt="">
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>{{ ingredientData[page.lang].title }}</h4>
                        <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">{{ ingredientData[page.lang].description }}</p>
                    </div>
                </div>
            </li>

        {% endif %}

    {% endfor %}

    <li class="timeline-inverted timeline-last">
        <div class="timeline-image">
            <h4>Superfocus</h4>
        </div>
    </li>
</ul>