<script type="application/ld+json">
{
    "@context": "https://schema.org/",
    "@type": "Product",
    "name": "{{ page.title }}",
    "image": [
         "{{ site.url}}{{ page.default_original_image}}"
    ],
    "description": "{{ page.description }}",
    "brand": {
        "@type": "Brand",
        "name": "{{ site.title }}"
    },
    "review": {
        "@type": "Review",
        "reviewRating": {
            "@type": "Rating",
            "ratingValue": "4",
            "bestRating": "5"
        },
        "author": {
            "@type": "Organization",
            "name": "{{ site.title }}"
        }
    },
    "aggregateRating": {
        "@type": "AggregateRating",
        "ratingValue": "4.8",
        "reviewCount": "64"
    },
    "offers": {
        "@type": "Offer",
        "url": "{{ site.url }}{{ page.url }}",
        "priceCurrency": "EUR",
        "price": "{{ page.price }}",
        "priceValidUntil": "2020-12-31",
        "availability": "https://schema.org/InStock",
        "seller": {
            "@type": "Organization",
            "name": "{{ site.title }}"
        }
    }
}
</script>


<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ site.url }}/{{ page.default_original_image }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{ site.url }}">
<meta property="twitter:url" content="{{ site.url }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ site.url}}{{ page.default_original_image}}">