<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@graph": [{
        "@type": "Organization",
        "@id": "{{ site.url }}/#organization",
        "name": "{{ site.title }}",
        "url": "{{ site.url }}",
        "sameAs": [],
        "logo": {
            "@type": "ImageObject",
            "@id": "{{ site.url }}/#logo",
            "inLanguage": "en-US",
            "url": "{{ site.url }}/{{ site.logo_dark }}",
            "caption": "{{ site.title }}"
        },
        "image": {
            "@id": "{{ site.url }}/#logo"
        }
    }, {
        "@type": "WebSite",
        "@id": "{{ site.url }}/#website",
        "url": "{{ site.url }}",
        "name": "{{ site.title }}\u00ae",
        "description": "{{ page.description }}",
        "publisher": {
            "@id": "{{ site.url }}/#organization"
        },
        "inLanguage": "{{ page.lang }}"
    }, {
        "@type": "WebPage",
        "@id": "{{ site.url }}/#webpage",
        "url": "{{ site.url }}",
        "name": "{{ page.title }}",
        "isPartOf": {
            "@id": "{{ site.url }}/#website"
        },
        "about": {
            "@id": "{{ site.url }}/#organization"
        },
        "datePublished": "2021-05-12T11:55:10+00:00",
        "dateModified": "2021-05-22T08:52:52+00:00",
        "description": "{{ page.description }}",
        "inLanguage": "en-US",
        "potentialAction": [{
            "@type": "ReadAction",
            "target": ["{{ site.url }}"]
        }]
    }]
}
</script>

<!-- Facebook Meta Tags -->
<meta property="og:title" content="{{ site.title }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ site.url }}/{{ site.logo_dark }}" />
<meta property="og:url" content="{{ site.url }}" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{ site.url }}">
<meta property="twitter:url" content="{{ site.url }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="https://superfocus.cc/images/logo.svg">