<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "BlogPosting",
	"mainEntityOfPage": {
		"@type": "WebPage",
		"@id": "{{site.url}}{{ page.url }}"
	},
	"headline": "{{ page.title }}",
	"description": "{{ page.description }}",
	"image": [
		"{{ site.url}}{{ page.banner_image }}"
	],
	"datePublished": "{{ page.date }}",
	"dateModified": "{{ page.date }}",
	"author": {
		"@type": "Organization",
		"name": "{{ site.title }}"
	},
	"publisher": {
		"@type": "Organization",
		"name": "{{ site.title }}",
		"logo": {
			"@type": "ImageObject",
			"url": "{{ site.url }}/{{ site.logo_dark }}"
		}
	}
}
</script>

<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:image" content="{{ site.url }}/{{ page.banner_image }}" />
<meta property="og:url" content="{{site.url}}{{ page.url }}" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{ site.url }}">
<meta property="twitter:url" content="{{ site.url }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ site.url }}/{{ page.banner_image }}">