/**
 * Variables
 * ----------------------------------------------------------------------------
 */

/* Colors */
$alabaster: #fafafa;
$gallery: #ededed;
$gray: #818181;
$mine-shaft: #333333;
$picton-blue: #22b3eb;
$silver: #c6c6c6;
$tundora: #474747;
$white: #ffffff;
$body-text: #333333;
$post-navigation-date: #b7b7b7;

/* SuperFocus Brand Colors */

$dark-bg: #2a2b2e;
$dark-cards: #18191a;
$dark-hover: #181818;
$dark-text: #000000;
$light-text: #ffffff;
$link-hover: #dddddd;
$corporate: #2a2b2e;