/* 3. Special Template Styles
/* ---------------------------------------------------------- */

@media (min-width: $desktop) {
    .home-template .grid-view,
    .tag-template .grid-view,
    .author-template .grid-view {
        margin-top: -70px;
        padding-top: 0;
    }
    .home-template .site-nav {
        position: relative;
        top: -70px;
    }
}

/* */

.content.dark {
    background-color: #2a2b2e;
}

.blog-title {
    font-size: 3.125rem; 
    width: 50%;
    margin-top: 50px;
    margin-bottom: 60px;
    color: white;
    @media (max-width: $small-desktop) {
        font-size: 2rem;
    }
}


/* 6. Post Feed
/* ---------------------------------------------------------- */

.grid-view {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
    padding: 40px 0 0 0;
    justify-content: center;
    margin-top: 60px;
}

.post-card {
    background: #fff center center;
    background-size: cover;
    background-color: $white;
    margin: 0 20px 40px;
    &:not(.single) {

        flex: 1 1 300px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        
        min-height: 300px;
        border-radius: 5px;
        box-shadow: rgba(39,44,49,0.06) 8px 14px 38px, rgba(39, 44, 49, 0.03) 1px 3px 8px;
        /*transition: all 0.5s ease;*/

        // @media only screen and (min-width: $mobile) {
            transition: background-color 0.5s;
            &:hover {
                background-color: $dark-hover;
                color: white;
                cursor: pointer;
                .post-card-image-link .post-card-image {
                    transform: scale(1.5);
                }
                .post-card-title, .post-card-excerpt, .more-link {
                    color: $light-text;
                }
            }
            color: $white;
            .read-more {
                color: $dark-text;
            }
            &:first-child {
                @media (min-width: $desktop) {
                    height: 400px;
                }
            }
        // }
    }
    &.single {
        max-width: 1200px;
        @media only screen and (min-width: $mobile) {
            margin-top: 60px;
        }
        @media only screen and (max-width: $mobile) {
            .post-card-image {
                max-width: 500px;
            }
        }

        .post-body {
            display: flex;
            @media only screen and (min-width: 992px) {
                flex-direction: row;
            }
            flex-direction: column;
            p {
                line-height: 2em;
                font-size: 20px;
                line-height: 40px;
                vertical-align: baseline;
            }
        }
        .meta-element {
            a {
                color: $dark-text;
                &:hover {
                    color: $link-hover;    
                }   
            }
            margin-bottom: 35px;
            ul {
                display: flex;
                li {
                    &:first-child {
                        border-right: 1px solid;
                        margin-right: 20px;
                        padding-right: 20px;
                    }
                    display: list-item;
                }
            }
        }
        .main-column {
            padding: 40px;
            width: 100%;
            @media only screen and (min-width: $small-desktop) {
                width: calc(100% - 200px);
            }
        }
        .side-column {
            .sticky {
                position: -webkit-sticky;
                position: sticky;
                top: 0;
            }
            padding-right: 40px;
            padding-top: 5px;
            margin-top:0;
            @media only screen and (max-width: $small-desktop) {
                padding: 40px;
            }
            @media only screen and (min-width: $small-desktop) {
                width: 200px;
            }
            .side-body {
                @media only screen and (max-width: $small-desktop) {    
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
            .share-title {
                width: 100%;
                margin-bottom: 35px;
                padding-top: 40px;
                margin-left: 5px;
                &:after {
                    position: relative;
                    bottom: -25px;
                    left: 0;
                    width: 40px;
                    height: 1px;
                    display: block;
                    content: '';
                    background-color: rgba(157,164,179,.3);
                }
            }
        }
        header {
            padding-bottom: 50px;
            h1 {
                @media only screen and (min-width: $small-desktop) {
                    font-size: 3.375rem;
                }
            }
            &:after {
                position: relative;
                bottom: -25px;
                left: 0;
                width: 80px;
                height: 2px;
                display: block;
                content: '';
                background-color: #1d232e;
            }
        }
    }

}
.post-card-image {
    transition: transform 0.5s,-webkit-transform 0.5s;
}
.post-card-image-link {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.post-card-image {
    width: auto;
    height: 200px;
    background: $mine-shaft no-repeat center center;
    background-size: cover;
    background-position: center;
}

.post-card-content-link {
    position: relative;
    display: block;
    padding: 25px 25px 0;
    color: $tundora;
    text-decoration: none;
}

.post-card-content-link:hover {
    text-decoration: none;
    color: $tundora;
}

.post-card-tags {
    display: block;
    margin-bottom: 4px;
    color: $gray;
    font-size: 0.65rem;
    line-height: 1.15em;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.post-card-title {
    margin-top: 0;
    font-size: 2.375rem;
    color: #181818;
}

.post-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-card-meta {
    padding: 0 25px 25px;
}

/* Special Styling for home page grid (below):

The first (most recent) post in the list is styled to be bigger than the others and take over the full width of the grid to give it more emphasis. Wrapped in a media query to make sure this only happens on large viewports / desktop-ish devices.

 */

@media (min-width: $tablet) {
    .grid-view {
      .post-card:not(:first-child):not(.no-image) {
        max-width: 50%;
      }
      .post-card:first-child:not(.no-image) {
        flex: 1 1 100%;
        flex-direction: row;
        // height: 100%; //430px;

        .post-card-image-link {
          position: relative;
          flex: 1 1 auto;
          border-radius: 5px 0 0 5px;

          .post-card-image {
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }

        .post-card-content {
          flex: 0 1 357px;

          .post-card-content-link {
            padding: 30px 40px 0;
          }

          .post-card-meta {
            padding: 0 40px 30px;
          }
        }
      }
    }
}

.home-template .site-header:after {
    display: none;
}


/* Adjust some margins for smaller screens */
@media (max-width: $tablet) {
    .grid-view {
        padding-top: 5vw;
    }
    .post-card {
        margin: 0 20px 5vw;
    }
}


/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-main {
    z-index: 100;
    flex-grow: 1;
}

/* Full width page blocks */
.outer {
    position: relative;
    padding: 0 4vw;
}

/* Centered content container blocks */
.inner {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}


.post-card-excerpt {
    font-size: 15px;
}
.grid-view {
    margin: -20px;
    padding: 20px;
}