.nav {
  font-family: $font_family_primary;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button {
    width: 100%;
    padding-right: 0;
    justify-content: flex-end;
    align-items: center;
  }

  &__menu {
    @include smaller-than-tablet {
      display: none;
    }
    margin: 0 auto;
    display: grid;
    display: flex;
  }

  &__menu-item {
    margin: 0;
    font-size: $font_size_regular;
    font-weight: bold;
    list-style: none;
    &:not(:last-child) {
      margin-right: $spacing--unit * 5;
    }
  }

  &__menu-item-link {
    color: inherit;
    text-decoration: none;
  }

  &__logo {
    width: 25%;
  }
  &__logo-image {
    height: 45px;
  }
  &__total-items {
    @include smaller-than-tablet {
      display: none;
    }
    font-weight: bold;
    color: inherit;
    font-size: $font_size_regular;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    text-align: right;
  }

  .button--transparent {
    color: inherit;

    &:hover,
    &:active {
      color: inherit;
    }

    path {
      @include smaller-than-tablet {
        transition: .1s;
      }
    }
  }

  &__total-items {
    color: inherit;
  }

  &__button-icon {
    display: flex;
  }

  &--dark {
    color: $color_dark;
  }

  &--light {
    color: $color_lighter;
  }

  &--opened {
    color: $color_dark;

    .button--transparent {
      path {
        @include smaller-than-tablet {
          transition: .1s .2s;
        }
      }
    }
  }
}

.header {
  @include container-item-properties;
  position: fixed;
  transition: background-color 0.5s ease-in-out, transform 1s, -webkit-transform 1s;
  -o-transition: background-color 0.5s ease-in-out;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 1s;
  background-color: transparent;
  @include smaller-than-tablet {
    padding-top: 25px;
  }
  &.display {
    transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -webkit-transition: -webkit-transform 1s;
    transition: background-color 0.5s, transform 1s, -webkit-transform 1s;
  }
  &.fixed-color {
    background-color: rgba(31,36,47,.7);
  }
}

.product-template {
  .nav {
    @include smaller-than-tablet {
      &:not(.nav--opened) {
        color: $color_lighter;
      }
    }
  }
}

@each $palette in map-keys($theme_palettes) {
  .palette-#{$palette} {
    .nav {
      &--light {
        color: map-deep-get($theme-palettes, $palette, "lighter");
      }

      &--dark,
      &--opened {
        color: map-deep-get($theme-palettes, $palette, "dark");
      }
    }
  }
}