.progress-circle-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  box-shadow: 0 2px 4px grey, 0 0 0 transparent;
  transition: all .25s cubic-bezier(.02,.01,.47,1);
  border-radius: 50%;
  border: 0;
  outline: 0;
  height: 50px;
  width: 50px;
  margin: auto;
  &:hover {
    background-color: #ddd;
  }
  .button-up {
    position: absolute;
  }
  .progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    // axis compensation
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke: $corporate;
  }
}

